pymongo[srv]
fastapi
uvicorn
python-dotenv
pillow
google-generativeai
python-multipart
Streamlit
pandas
pymongo
speechrecognition
sounddevice
scipy
numpy
python-magic
aiofiles
PortAudio

